.title-container {
    position: absolute;
    display: flex;
    align-items: center;
    border: 6px solid #ccc;
    padding: 20px;
    width: 80%;
    left: 7.5%;
  }
  h3{
    top:33%;
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 18px;
  }
  h1{
    color: aliceblue;
    font-size: 36px;
  }
  .repeat{
    background-color: white;
    color: #000000;
    font-weight: 100;
    font-size: 14px;
    align-items: center;
    top:72%;
    position: absolute;
    letter-spacing: 1px;
    right: 42.5%;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 8px;
    border-style:none;
  }
  .left {
    margin-right: 20px;
  }
  
  .left img {
    width: 100%;
    height: auto;
  }
  .right{
    position: absolute;
    right: 5%;
    top: 10%;
    margin-top: 0;
    background-color: white;
    height: 80%;
    width: 10%;
    text-align: center;
    border-radius: 10px;
  }
  h2{
    color: #2200ff;
    font-size: small;
    letter-spacing: 2px;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .button {
    background-color: white;
    border: 10px solid;
    border-radius: 50%; 
    padding: 1em;  
    box-shadow: 
    inset 0 0 0.5em rgba(255, 255, 255, 0.795),
    inset 0 5px 0.3em rgb(0, 0, 0, 0.5),
    0 0 10px rgba(0,0,0,0.5);
    width: 3em;
    height: 3em;
  }  
  .switch {
    position: absolute;
    top:90vh;
    left:48%;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2200ff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #090044;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #090044;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .button:hover{
    transform: scale(105%);
    opacity: 0.9;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
  }
  
  .modal-overlay.open {
    opacity: 1;
    visibility: visible;
  }
  
  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .modal-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  .rules-btn{
    position: absolute;top: 90%;left:55%; background-color: transparent;color: aliceblue;border-color: aliceblue;border-radius: 5px;width: 7em;height: 3em;
  }